

body,html{
   
    margin: 0;
    
   overflow: hidden;
}










.left-menu{
    
    height: 100vh;
    width: 75px;
    background-color: #003576;

    display: table;
    text-align: center;
    box-shadow: 0 4px 11px 0 rgba(0,0,0,0.5);
    position: fixed;
    
    
    
}



.profile{
    
    float: right;
    top: 0;
    right: 0;
    margin-right: 35px;
    margin-top: 30px;

}

.profileImage{
    
    
    width: 70px;
    border-radius: 50%;
    height: 70px;
    border-color: #003576;
    border-width: 3px;
    border-style: solid;

}


.addButton{
    
    height: 55px;
    width: 55px;
    border-radius: 50%;
    position: absolute;
    
    
   
    bottom: 0;
    left: 0;
    margin-left: 45px;
    margin-bottom: 45px;
    z-index: 10;
    
    transition: all .2s ease-in-out;
    

 }

.addButton:hover{
    
    transform: scale(1.2);
}

.wrapperSter{
    
    height: 8vh;
    width: 465px;
    margin-top: 20px;
    
    margin-left: 95px;
     box-shadow: 0 4px 11px 0 rgba(0,0,0,0.5);
    background-color: #003576;
    position: fixed;
   
   
}


.laneTitle{
    
    margin-top: 15vh;
    margin-left: 200px;
    width: 24vw;
    height: 9vh;
    background-color: #003576;
   
    font-family: avenir;
    font-weight: bold;
    color: white;
    font-size: 2.1vh;
    
     
    z-index: 10;
    line-height: 9vh;
    box-shadow: 8 4px 11px 9 rgba(0,0,0,0.5);
    
    
}


.itemContent{
    
    
    height: 25vh;
    width: 19vw;
    background-color: white;
    opacity: 0.5;
    float: left;
    
    padding-top: 40px;
 
    
}


.title{
    
    color: black;
    font-family: avenir;
    font-weight: bolder;
  
    color: black;
    margin-left: 15px;
    font-size: 1.19vw;;
    
}

.subTitle{
    
    color: black;
    font-family: avenir;
 
    color: black;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 1vw;;
    
}


.subSubTitle{
    
    color: black;
    font-family: avenir;
    
    color: black;
    margin-left: 15px;
    margin-top: 2px;
    font-size: 0.8vw;;
    
}


.spanTitle{
    
    margin-left: 15px;
}

.laneContent{
    
    z-index: 0;
    margin-left: 200px;
     width: 24vw;

    height: 70vh;
    background-color: white;
  
    color: white;
    font-size: 25px;

    position: absolute;
   
    overflow: scroll;
    box-shadow: 8 4px 11px 9 rgba(0,0,0,0.5);
    
    
}


.lane{
    
    margin: 0 auto;
    
 
   
        
  
}

.itemWrapper{
    
    height: 25vh;
    width: 24vw;
  
    background-color: whitesmoke;
    margin: 0 auto;
    margin-bottom: 15px;
  
    overflow: hidden;
    
}



.date{
    
    height: 25vh;
    width: 5vw;
    background-color: #003576;
    opacity: 0.5;
    
    float: left;
    position: relative;
  
   
    
}


.icon{
  
    
max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    

 
    
}

.logo{
    
    margin-top: 20px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    
   
    
}



ul{
    list-style-type: none;
    text-align: center;
    width: 100%;
    padding: 0;
    vertical-align: middle;
    display: table-cell;
}


li{
    
    margin-bottom: 30px !important;
    transition: all .2s ease-in-out;
    
}
li:hover{

    transform: scale(1.4);
}









/*LOGIN*/


.logoLoginPage{
    
    margin-top: 30px;
    margin-left: 20px;;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    
   
    
}

.left{
    
    height: 100vh;
    width: 70vw;
   float: left;
    background-color: #003576;
    box-shadow: 4px 4px 5px grey;
    z-index: 10;
    color: white;
    font-family: avenir;
    font-weight: bolder;
    overflow: hidden;
    
   
  
      
}

.right{
    
    height: 100vh;
    width: 30vw;
   float: left;
    background-color: #032856;
    margin: 0 auto;
    display: table-cell;
    position: relative;
   
}


.login{
    
    

    background-color: #ffffff;
    
    text-align: center;
    width: 25vw;
    height: 25vh;
    margin-top: -170px;
    position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
    border-radius: 3px;
    
 
   
   
}

.leftSpan{
    
    margin-left: 40px;
    margin-top: 400px;
    font-size: 4.5vw;
    font-weight: bolder;
    float: left;
    
        
}

.subHead{
    
    font-size: 20vw;
    opacity: 0.5;
    margin-left: 40px;
  margin-top: -50px;
    font-weight: bolder;
    float: left;
}


.inlogForm{
    

     position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
    
    
}

.inputField{
    
    width: 22vw;
    height: 50px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
    outline: none;
  
  
    
    border-top: transparent !important;
            border-left: transparent !important;
            border-right: transparent !important;
    
    
    font-family: avenir;
    font-weight: bold;
    font-size: 2vh;
    color: #7C7C7C;
    margin-bottom: 30px;
    display: table-cell;
    vertical-align: middle;
    
 
    
    
}


.loginButton{
    
    background-color: #003576;
    width: 25vw;
    height: 6vh;
    font-family: avenir;
    font-weight: bolder;
    color: white;
    font-size: 30px;
    margin-top: 70px;
  
         position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
    
    
    border-style: none;
    line-height: 6vh;
    
    border-radius: 3px;
    
}



/*MODULES*/





